## for문, list, tuple

In [1]:
my_tuple = ()

In [2]:
my_tuple =('닥터스트레인지','스플릿','럭키')

In [3]:
my_tuple

('닥터스트레인지', '스플릿', '럭키')

### Tuple to list

In [6]:
interest = ('삼성','LG','현대')
list(interest)

['삼성', 'LG', '현대']

In [7]:
과일 = ['사과','포도','귤']
for 변수 in 과일:
    print(변수)

사과
포도
귤

In [8]:
for 변수 in 과일:
    print("***")

***
***
***

In [9]:
a_list = ['A','B','C']
for a in a_list:
    print(a)

A
B
C

In [10]:
for a in a_list:
    print(a.lower())

a
b
c

In [12]:
num_list = [10,20,30]
for num in num_list:
    print(num)
    print("---")

10
---
20
---
30
---

In [13]:
for num in num_list:
    print(num+1)

11
21
31

In [14]:
name_list =['삼성전자','LG','현대자동차']
for name in name_list:
    print(len(name))

4
2
5

In [15]:
for name in name_list:
    print(name[0])

삼
L
현

In [19]:
for name in name_list[1:]:
    print(name)

LG
현대자동차

In [20]:
for name in name_list[::2]:
    print(name)

삼성전자
현대자동차

In [21]:
for name in name_list[::-1]:
    print(name)

현대자동차
LG
삼성전자

In [22]:
num_list =[-1,9,-10,19]

for num in num_list:
    if num > 0:
        print( num)

9
19

In [24]:
for num in num_list:
    if num % 3 ==0:
        print(num)

9

In [25]:
a_list =['a','B','c','D']
for a in a_list:
    if a.isupper():
        print(a)

B
D

In [26]:
animal = ['cat','dog','parrot']
for a in animal:
    print(a[0].upper()+a[1:])

Cat
Dog
Parrot

In [29]:
ad =['df.py','asdf.sdf','sdt.dd']
for a in ad:
    print( a.split('.')[0])

df
asdf
sdt

In [31]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [32]:
for i in range(2002,2050,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046

In [36]:
for i in range(3,33,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [38]:
for i in range(100):
    print(100-i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [39]:
for i in range(10):
    print(0.1 * i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9

In [47]:
for i in range(1,10):
    print(f"3*{i}={3*i}")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [48]:
for i in range(1,10,2):
    print(f"3*{i}={3*i}")

3*1=3
3*3=9
3*5=15
3*7=21
3*9=27

In [51]:
num=1
for i in range(1,10):
    num *= i
print(num)

362880